@font-face {
    font-display: swap;
    font-family: "Libre Baskerville";
    font-style: normal;
    font-weight: 400;
    src: url("./libre-baskerville.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("./rubik.woff2") format("woff2");
}

/* *, */
/* ::before, */
/* ::after { */
/* 	box-sizing: border-box; */
/* } */

:root {
    --sans-serif: "Rubik", sans-serif;
    --serif: "Libre Baskerville", serif;
}

html {
    font-family: var(--sans-serif);
    font-size: 22px;
    background-color: floralwhite;
    overflow-wrap: break-word;
}

body {
    max-width: 700px;
    margin: auto;
    padding: 2rem;
}

a {
    color: black;
}

/*ul {
    list-style-type: circle;
}*/

/*header > hr {
    border: 1px solid black;
}*/

nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

nav > #nav-links > a:not(:last-child) {
    margin-right: 1em;
}

#site-name {
    font-family: var(--serif);
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-block-start: 1.5em;
    font-family: var(--serif);
}

h1 {
    font-size: 1.5em;
    /*margin-block-end: 1em;*/
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.1em;
}

h4,
h5,
h6 {
    font-size: 1em;
}

p {
    line-height: 1.5;
    margin-block-start: 1.5em;
    margin-block-end: 1.5em;
}

hr {
    border: 1px solid black;
}

pre,
code {
    font-family: monospace;
    background-color: #565656;
    color: floralwhite;
    font-size: 0.85rem;
}

pre {
    overflow-x: auto;
    padding: 0.5rem;
}

p > code {
    padding: 0.05rem 0.25rem;
}

pre,
code,
blockquote {
    border-radius: 5px;
}

li:not(:last-child) {
    margin-bottom: 0.25rem;
}

blockquote {
    font-size: 0.9em;
    /*font-family: var(--serif);*/
    /*font-style: italic;*/
    border: 2px solid #565656;
    border-left: 0.75em solid #565656;
    padding: 1em 2em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

blockquote > p {
    margin: 0;
}

blockquote > p:not(:last-child) {
    margin-bottom: 1em;
}

img {
    max-width: 100%;
    border: 1px solid black;
    border-radius: 5px;
}

figure {
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
}

figure > figcaption {
    display: none;
}

::selection {
    background: #dccfc0;
}

pre::selection,
code::selection {
    color: black;
    background: #dccfc0;
}

@media only screen and (max-width: 700px) {
    html {
        font-size: 16px;
    }

    body {
        padding: 1rem;
    }

    p,
    ul,
    ol {
        font-size: large;
    }

    blockquote > p {
        font-size: medium;
    }

    pre,
    code {
        font-size: 1rem;
    }
}

/*@media (prefers-color-scheme: dark) {
    html {
        background-color: #565656;
    }
}*/
