@font-face {
    font-display: swap;
    font-family: "Libre Baskerville";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/libre-baskerville.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/ibm-plex-sans.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Jetbrains Mono";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/jetbrains-mono.woff2") format("woff2");
}

*,
::before,
::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

:root {
    --sans-serif: "IBM Plex Sans", sans-serif;
    --serif: "Libre Baskerville", serif;
    --monospace: "Jetbrains Mono", monospace;
}

html {
    font-family: var(--sans-serif);
    font-size: 20px;
    background-color: floralwhite;
    overflow-wrap: break-word;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: auto;
    padding: 2rem;
}

a {
    color: black;
}

p,
li {
    line-height: 1.5em;
}

ul,
ol {
    padding-inline-start: 2rem;
}

li {
    line-height: 1.5rem;
}

li::marker {
    font-size: 0.85rem;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

nav #nav-links > a:not(:last-child) {
    margin-right: 1em;
}

#site-name {
    font-family: var(--serif);
    font-weight: bold;
}

footer {
    margin-top: 1rem;
}

footer > p {
    margin-top: 0.5rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

#note-content > * {
    margin-top: 1.25em;
}

#note-meta {
    font-style: italic;
    font-size: smaller;
    margin-top: 3em;
}

#note-meta p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 1.75em !important;
    line-height: 1.25em;
    font-family: var(--serif);
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1rem;
    line-height: 1.5em;
}

hr {
    border: 1px solid black;
}

pre,
code {
    font-family: var(--monospace);
    background-color: #565656;
    color: floralwhite;
    font-size: 0.85rem;
    line-height: 1.5em;
}

pre {
    overflow-x: auto;
    padding: 0.5rem;
}

p code {
    padding: 0.05rem 0.25rem;
}

pre,
code,
blockquote {
    border-radius: 5px;
}

blockquote {
    font-size: 0.9rem;
    font-style: italic;
    border: 2px solid #565656;
    border-left: 0.75rem solid #565656;
    padding: 1rem 1.5rem;
}

blockquote > p:not(:first-child) {
    margin-top: 1rem;
}

img {
    max-width: 100%;
    border: 2px solid black;
    border-radius: 5px;
}

figure {
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
}

figure figcaption {
    display: none;
}

::selection {
    background: #dccfc0;
}

pre::selection,
code::selection {
    color: black;
    background: #dccfc0;
}

@media only screen and (max-width: 700px) {
    html {
        font-size: 16px;
    }

    body {
        padding: 1rem;
    }
}

/*@media (prefers-color-scheme: dark) {
    html {
        background-color: #565656;
    }
}*/
