@font-face {
    font-display: swap;
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/ibm-plex-mono.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/merriweather.woff2") format("woff2");
}

:root {
    --serif: "Merriweather", serif;
    --monospace: "IBM Plex Mono", monospace;
}

html {
    background-color: floralwhite;
}

body {
    font-size: 18px;
    font-family: var(--serif), serif;
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: auto;
    padding: 2rem;
    overflow-wrap: break-word;
}

a {
    color: black;
}

header {
    margin-bottom: 1rem;
    font-family: var(--monospace);
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

nav #nav-links > a:not(:last-child) {
    margin-right: 1em;
}

#site-name {
    font-weight: bold;
}

hr {
    border: 2px solid #f0e6e1;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--monospace), monospace;
}

h1 {
    font-size: 1.75em;
    margin-top: 1em;
}

h2 {
    font-size: 1.25em;
    margin-top: 1.5em;
}

h3 {
    font-size: 1em;
    margin-top: 1.5em;
}

pre,
code {
    font-family: var(--monospace), monospace;
    background-color: #565656;
    color: floralwhite;
    /*font-size: 0.9em;*/
}

pre {
    overflow-x: auto;
    padding: 0.5rem;
}

pre > code {
    line-height: 1.5;
}

p > code {
    /*font-size: 0.95rem;*/
    padding: 0 0.15em;
}

p,
li,
blockquote,
code {
    line-height: 1.75;
}

p,
blockquote,
pre {
    margin-block-start: 1.25em;
    margin-block-end: 1.25em;
}

/*ul {
    list-style-type: square;
}*/

ul,
ol {
    padding-inline-start: 2em;
}

ul li::marker {
    font-size: 0.85em;
}

figure {
    margin: 0;
    display: flex;
    justify-content: center;
}

figure figcaption {
    display: none;
}

img {
    max-width: 100%;
}

blockquote {
    margin-block-start: 1.5em;
    margin-block-end: 1.5em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-style: italic;
    font-size: 0.9em;
    background-color: #f0e6e1;
    padding: 1em 1.5em;
    border-left: 0.75em solid #e8d8d0;
    color: #191919;
}

blockquote a {
    color: #191919;
}

blockquote p {
    margin: 0;
}

blockquote > p:not(:first-child) {
    margin: 1rem 0 0 0;
}

::selection {
    background: #e8d8d0;
}

pre::selection,
code::selection {
    color: black;
    background: #e8d8d0;
}

#note-meta {
    font-family: var(--monospace);
    font-size: smaller;
    margin-top: 3em;
}

#note-meta p {
    margin: 0;
}

footer {
    margin-top: 1rem;
    font-family: var(--monospace);
}

footer > p {
    margin-top: 0.5rem;
}

@media only screen and (max-width: 700px) {
    body {
        padding: 1rem;
    }

    blockquote {
        margin: 0;
    }
}
