@font-face {
    font-display: swap;
    font-family: "PT Serif";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/pt-serif-400.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "PT Serif";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/pt-serif-400-italic.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "PT Serif";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/pt-serif-700.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "PT Serif";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/pt-serif-700-italic.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/pt-sans-400.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "PT Sans";
    font-style: bold;
    font-weight: 700;
    src: url("../fonts/pt-sans-700.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Inconsolata";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/inconsolata-400.woff2") format("woff2");
}

:root {
    color-scheme: light dark;

    /* https://tailwindcss.com/docs/colors */

    --stone-9: oklch(92.3% 0.003 48.717);
    --stone-8: oklch(86.9% 0.005 56.366);
    --stone-7: oklch(70.9% 0.01 56.259);
    --stone-6: oklch(55.3% 0.013 58.071);
    --stone-5: oklch(44.4% 0.011 73.639);
    --stone-4: oklch(37.4% 0.01 67.558);
    --stone-3: oklch(26.8% 0.007 34.298);
    --stone-2: oklch(21.6% 0.006 56.043);
    --stone-1: oklch(14.7% 0.004 49.25);

    --taupe-9: oklch(92.2% 0.005 34.3);
    --taupe-8: oklch(86.8% 0.007 39.5);
    --taupe-7: oklch(71.4% 0.014 41.2);
    --taupe-6: oklch(54.7% 0.021 43.1);
    --taupe-5: oklch(43.8% 0.017 39.3);
    --taupe-4: oklch(36.7% 0.016 35.7);
    --taupe-3: oklch(26.8% 0.011 36.5);
    --taupe-2: oklch(21.4% 0.009 43.1);
    --taupe-1: oklch(14.7% 0.004 49.3);

    /*--mist-9: oklch(92.5% 0.005 214.3);
    --mist-8: oklch(87.2% 0.007 219.6);
    --mist-7: oklch(72.3% 0.014 214.4);
    --mist-6: oklch(56% 0.021 213.5);
    --mist-5: oklch(45% 0.017 213.2);
    --mist-4: oklch(37.8% 0.015 216);
    --mist-3: oklch(27.5% 0.011 216.9);
    --mist-2: oklch(21.8% 0.008 223.9);
    --mist-1: oklch(14.8% 0.004 228.8);*/

    --taupe-0: oklch(
        9.2% 0.002 54.8
    ); /* Extra dark for text color in light mode */

    --accent-stone: oklch(83.7% 0.128 66.29);
    --accent-light: oklch(43.2% 0.095 166.913);

    --serif: "PT Serif", serif;
    --sans-serif: "PT Sans", sans-serif;
    --mono: "Inconsolata", monospace;
    --content-width: 575px;
}

body {
    font-size: 18px;
    font-family: var(--serif);
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    line-height: 1.6;
    color: light-dark(var(--taupe-0), var(--stone-9));
    background-color: light-dark(var(--taupe-9), var(--stone-2));
}

header,
footer {
    color: light-dark(var(--taupe-4), var(--stone-7));
    background-color: light-dark(var(--taupe-8), var(--stone-3));
    line-height: 1.5;
    font-family: var(--sans-serif);
}

header > nav,
footer > div {
    margin: 0.5em auto;
    padding: 0 1em;
    max-width: var(--content-width);
}

#site-logo-link {
    color: light-dark(var(--taupe-1), var(--stone-9));
    font-size: 1.25em;
    font-weight: bold;
    text-decoration: none;
}

#site-logo-link:hover {
    color: light-dark(var(--accent-light), var(--accent-stone));
}

.nav-left {
    display: flex;
    justify-content: flex-start;
}

.nav-right > a:not(:first-child) {
    margin-left: 0.5em;
}

main {
    width: 100%;
    max-width: var(--content-width);
    margin: auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

a {
    text-decoration: none;
    color: light-dark(var(--accent-light), var(--accent-stone));
}

a:hover {
    text-decoration: underline;
}

h1,
h2 {
    line-height: 1.15em;
    color: light-dark(var(--taupe-1), var(--stone-9));
    font-family: var(--sans-serif);
}

h1 {
    font-size: 1.75em;
}

h2 {
    font-size: 1.35em;
    margin-top: 1.25em;
}

h3 {
    font-size: 1.15em;
    margin-top: 1.5em;
    line-height: 1.25em;
    color: light-dark(var(--taupe-1), var(--stone-9));
    font-family: var(--sans-serif);
}

h4,
h5,
h6 {
    font-size: 1em;
    margin-top: 1em;
    line-height: 1.25em;
    color: light-dark(var(--taupe-1), var(--stone-9));
    font-family: var(--sans-serif);
}

hr {
    border: none;
    height: 2px;
    border-top: 2px solid light-dark(var(--taupe-8), var(--stone-3));
    background-color: light-dark(var(--taupe-8), var(--stone-3));
}

code,
pre {
    overflow-x: auto;
    background-color: light-dark(var(--taupe-4), var(--stone-1));
    color: light-dark(var(--taupe-9), var(--stone-9));
    font-family: var(--mono);
}

pre {
    padding: 0.5em;
    line-height: 1.5;
}

p > code {
    padding: 0 0.15em;
}

p {
    margin-block-start: 1.5em;
    margin-block-end: 1.5em;
}

figure {
    margin: 0;
    display: flex;
    justify-content: center;
}

figure figcaption {
    display: none;
}

img {
    max-width: 100%;
}

blockquote {
    margin-block-start: 1.5em;
    margin-block-end: 1.5em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-style: italic;
    background-color: light-dark(var(--taupe-8), var(--stone-3));
    padding: 1em 1.5em;
    border-left: 0.5em solid light-dark(var(--taupe-7), var(--stone-4));
    color: light-dark(var(--taupe-2), var(--stone-8));
}

blockquote p {
    margin: 0;
}

blockquote > p:not(:first-child) {
    margin: 1em 0 0 0;
}

ul,
ol {
    padding-inline-start: 1.5em;
}

ul li::marker {
    font-size: 0.85em;
}

#note-meta {
    color: light-dark(var(--taupe-4), var(--stone-7));
    font-family: var(--sans-serif);
    font-size: smaller;
    margin-top: 1em;
}

#note-meta p {
    margin: 0;
}

@media only screen and (max-width: 768px) {
    main {
        padding-top: 0.5em;
    }

    code,
    pre {
        font-size: 0.95em;
    }
}
